header.header {
    background-color: #fff;
    padding: 0px 100px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: var(--shadow);
    border-radius: 8px;
}

header.header h1 {
    font-size: 1.5em;
}